<div class="container" style="margin-top: 5%;">
    <% if (room.members[room.leaderIndex].id.localeCompare(id) === 0) { %>
        <h4 class="h4 text-center">You are the mission leader</h5>
    <% } else { %>
        <h4 class="h4 text-center"><span class="text-primary"><%= room.members[room.leaderIndex].username %></span> is the mission leader</h5>
    <% } %>
    <ul class="list-group list-group-horizontal justify-content-center" style="margin-top: 3%;">
        <% for(var i = 1; i <= 5; i++){ %>
            <% if (room.currentRound == (i-1)) {%>
                <li id="round1" class="bg-info list-group-item text-white">Round <%= i %></li>
            <% } else {%>
                <li id="round1" class="list-group-item">Round <%= i %></li>
            <% }%>    
        <% } %>
    </ul>

    <% if (room.members[room.leaderIndex].id.localeCompare(id) === 0) { %>
        <h5 class="h5 text-center" style="margin-top: 2%;">Select <%= room.roundsDistribution[room.currentRound] %> players for the mission</h5>
    <% } else { %>
        <h5 class="h5 text-center" style="margin-top: 2%;">Your peers</h5>
    <% } %>

    <form id="checkBoxes" action="#">
        <ul class="list-group container" style="width: fit-content;">
            <% if (room.members[room.leaderIndex].id.localeCompare(id) === 0) { %>
                <% for (let i = 0; i < room.members.length; i++) { %>
                    <li class="list-group-item myCheckBoxes text-primary">
                        <input name="selectPlayer" value=<%= room.members[i].username %> class="form-check-input me-1 selectedPlayer" type="checkbox" aria-label="...">
                        <%= room.members[i].username %>
                    </li>
                <% } %>
            <% } else { %>
                <% for (let i = 0; i < room.members.length; i++) { %>
                    <li class="list-group-item text-primary">
                        <%= room.members[i].username %>
                    </li>
                <% } %>
            <% } %>
            <% if (room.members[room.leaderIndex].id.localeCompare(id) === 0) { %>
                <button type="submit" class="btn btn-success container text-center" 
                        style="margin-top: 5%; width: fit-content;">
                    Propose
                </button>
            <% } else { %>
                <h5 class="h5">Wait for <%= room.members[room.leaderIndex].username %> to propose</h5>
            <% } %>
            <script>
                var limit = <%= room.roundsDistribution[room.currentRound] %>;
                if ($(".selectedPlayer")) {
                    $(".selectedPlayer").on('change', function(evt) {
                        console.log("yes it works");
                        if($("input[name='selectPlayer']:checked").length > limit) {
                            this.checked = false;
                        }
                    });
                }

                var proposeButton = document.getElementById("checkBoxes");
                proposeButton.addEventListener("submit", (e) => {
                    console.log("propose button clicked!");
                    e.preventDefault(e);
                    if ($("input[name='selectPlayer']:checked").length != <%= room.roundsDistribution[room.currentRound] %>) {
                            alert("select more players");
                    } 
                    else {
                        var checkBoxes = $("input[name='selectPlayer']:checked");
                        var list = [];
                        for (let i = 0; i < checkBoxes.length; i++) {
                            list[i] = checkBoxes[i].value;
                        }
                        socket.emit("propose", {players: list});
                    }
                })
            </script>
        </ul>
    </form>
</div>
